In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
sns.set()
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import f_regression
from statsmodels.stats.outliers_influence import variance_inflation_factor 
from sklearn import metrics
#pd.set_option('display.mpl_style','default')
plt.rcParams['figure.figsize'] = (15,5)

#Viewing Summary()
from scipy import stats
stats.chisqprob = lambda chisq, df: stats.chi2.sf(chisq,df)

In [2]:
raw_data = pd.read_csv('Auto model.csv')
raw_data.head()

,Year,Year70To81,MPG,GallonsPer100Miles,GallonsPer100MilesTo1981,Cylinders,Displacement100ci,Horsepower100,Weight1000lb,Seconds0to60,Origin,Origin.Eq.1,Origin.Eq.2,Origin.Eq.3,Name
0,70,1,18.0,5.6,5.6,8,3.07,1.30,3.504,12.0,1,1,0,0,chevrolet chevelle malibu
1,70,1,15.0,6.7,6.7,8,3.50,1.65,3.693,11.5,1,1,0,0,buick skylark 320
2,70,1,18.0,5.6,5.6,8,3.18,1.50,3.436,11.0,1,1,0,0,plymouth satellite
3,70,1,16.0,6.3,6.3,8,3.04,1.50,3.433,12.0,1,1,0,0,amc rebel sst
4,70,1,17.0,5.9,5.9,8,3.02,1.40,3.449,10.5,1,1,0,0,ford torino

In [4]:
raw_data.columns

Index(['Year', 'Year70To81', 'MPG', 'GallonsPer100Miles',
       'GallonsPer100MilesTo1981', 'Cylinders', 'Displacement100ci',
       'Horsepower100', 'Weight1000lb', 'Seconds0to60', 'Origin',
       'Origin.Eq.1', 'Origin.Eq.2', 'Origin.Eq.3', 'Name'],
      dtype='object')